$black: #252525;
$white: #fff;
$blue: rgb(148, 205, 252);
$blueDark: rgb(40, 134, 211);
$purple: rgb(106, 31, 192);
$gray: rgb(119, 119, 119);
$grayLight: rgb(236, 236, 236);
$purpleActive: rgb(68, 5, 139);
$bluePlus: rgb(31, 55, 192);


//heigts:
$headerHeight: 80px;