@import "./theme.scss";
.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: auto;
}

.content {
  flex: 1 1 auto;
}
 
/*
.wrapperMax {
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: auto;
}

*/




.wrapperMax {
  
  max-height: calc(100vh - 80px); 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  

}
