@use "./theme.scss" as *;
.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
 
}

.content {
  flex: 1 1 auto;
 
  height: 100%;
}
 
 


.wrapperMax {
  
  max-height: calc(100vh - 80px); 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
 

}
