@use "../../app/theme/theme.scss" as *;

.header {
    width: 100%;
    height: auto;
    background-color: $black;
height: $headerHeight;

    &__container {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        margin: 0 auto;
    }

    &__logo {
        &__image {
            height: 40px;
            width: auto;
            cursor: pointer;

        }


    }

    &__list {
        display: flex;
        column-gap: 20px;
    }

    &__link {
        color: $white;
        @include fontSize(32px);

    }

  
}