@use "../../app/theme/theme.scss" as *;

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(calc(-100% - 30px));

    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: $white;
    width: 100%;
    border-radius: 10px;

    //   transform: translateY(-100%);
}