@import "../../app/theme/theme.scss";

.button {

    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: $purple;
    color: $white;
    font-size: 20px;
text-align: center;
border-radius: 8px;
transition: 0.4s ease-in-out;
&:hover {
    background-color: $purpleActive;
}

}